* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    color: white;
}

body {
    display: flex;
    background-color: #1b2838;
}

header {
    text-align: center;
    margin-bottom: 1em;
}

input[type="text"] {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

button {
    margin-top: 1em;
    width: 100%;
    padding: 5px;
    color: white;
    background-color: #335277;
    border: none;
    border-bottom: solid 2px #263D58
}

input[type="text"]:focus {
    border-bottom: solid 2px #969696;
}

#container {
    margin: auto;
    max-width: 225px;
}

#results {
    margin-top: 1em;
    text-align: center;
}

#results img {
    margin-top: 0.5em;
}

#error {
    background-color: rgba(173, 38, 38, 0.72);
    text-align: center;
    display: none;
    padding: 5px;
}